/* styles.css */
.shape {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  
  
  .shape-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .shape {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #666;
  }
  .triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #666;
  }
  .triangle-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 100px solid #666;
  }
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid #666;
  }
  .shape-1 {
    width: 100px;
    height: 100px;
    background-color: #666;
  }
  .shape-1:hover {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
  }

  .shape-2 {
    width: 100px;
    height: 100px;
    background-color: #666;
    border-radius: 50%;
  }
  .shape-2:hover {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .shape-3 {
    width: 150px;
    height: 100px;
    background-color: #666;
    border-radius: 50%;
  }
  .shape-3:hover {
    width: 150px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .shape-4 {
    width: 150px;
    height: 0;
    border-bottom: 100px solid #666;
    border-left: 25px solid white;
    border-right: 25px solid white;
  }
  .shape-4:hover{
    width: 150px;
    height: 0;
    border-bottom: 100px solid #ffffff;
    border-left: 25px solid #ffa200;
    border-right: 25px solid #ffa200;
  }
  .shape-5 {
    width: 200px;
    height: 100px;
    background-color: #666;
  }
  .shape-5:hover {
    width: 200px;
    height: 100px;
    background-color: #ffffff;
  }
  
  .shape-6 {
    width: 150px;
    height: 100px;
    background: #666;
    transform: skew(20deg);
  }
  
  .shape-6:hover {
    width: 150px;
    height: 100px;
    background: #ffffff;
    transform: skew(20deg);
  }
  
  .grid-layout {
     background: white;
  }
  .grid-layout :hover{
    background: #ffa200 ;
  }

  .ant-layout{
    background: none !important;
  }